In [2]:
import numpy as np
import pandas as pd

In [8]:
D=pd.read_csv('train.csv',index_col=0)
test_data=pd.read_csv('test.csv')

In [5]:
print(X.head())
print(test_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [15]:
# Some columns are not needed for prediction ?
# run this code

delete_list=['Name']
X=X.drop(delete_list,axis=1)
test_data=test_data.drop(delete_list,axis=1)

# check 
print(X.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# preprocessing


# Define the model and train it

In [30]:
# predict

# this is only a tutorial.
# for simplicity, the prediction is based on only 'Sex' .
# Actually, men tended to suvive more than women. 

pred=[]
for s in test_data['Sex']:
    
    if s=='male':
        pred.append(1)
    
    else:
        pred.append(0)

In [35]:
output=pd.DataFrame(test_data['PassengerId'])

In [40]:
output['Survived']=pred
print(output[1:10])

   PassengerId  Survived
1          893         0
2          894         1
3          895         1
4          896         0
5          897         1
6          898         0
7          899         1
8          900         0
9          901         1

In [42]:
output.to_csv('prediction.csv',header=True,index=False)